body {
  margin: 0;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#footer{
  padding-top: 100px;
 

}
.padded{
  padding-top: 5px;
  padding-bottom:15px;

}
.navbar{
  padding: 0 !important;
}

.badge {
  font-size: 15px !important;
}
